/* // css style variables:
container
input-containe
calendar
submit
result
label-container
weeks
reaming
table-wrapper
table-container
pop-up
pop-up
content
exit
popup-time-progress */

body {
  text-align: center;
  padding: 10px;
  font-family: "Space Mono", sans-serif;
  font: normal 1em / 1.62em;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #f4f4f4;
  /* align-items: center; */
}

header {
  color: #ffc8c8;
  text-align: center;
  padding: 20px;
}
h1 {
  color: #fffdfd;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5 1 10px rgba(167, 167, 167, 0.5);
  width: 310px;
  /* align-items: center; */
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  animation: fadeIn 0.5s ease;
}

#birth-date,
#calendar,
#submit {
  border: none;
  outline: none;
  background-color: #666;
  margin: 0 5px;
  padding: 16px;
  border-radius: 5px;
}

#calendar {
  padding: 16px;
}

#submit {
  background-color: #c4c404;
  cursor: pointer;
  padding-inline-end: 18px;
}
